@import url(https://fonts.googleapis.com/css?family=Muli:400,300italic,300,400italic);
body,
html {
  margin: 0;
  font-family: muli;
  height: 100%;
  padding: 0;
  overflow-x:hidden;
  background-color: rgb(231, 231, 231);
}

.main-container {
  width: 100%;
  padding-top: 70px;
}

.main-content {
  padding: 50px 46px 25px 20px;
  margin-left: 45%;
  margin-right: 50px;
  box-sizing: border-box;
  background-color: #fff;
  text-align: left;
}

h1 {
  letter-spacing: 0px;
  letter-spacing: .02rem;
  font-size: 48px;
  font-size: 3rem;
  text-transform: uppercase;
}

h3 {
  color: #666;
  font-size: 19px;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.description {
  margin-top: 20px;
  width: 100%;
}


.highlight-window {
  position: relative;
}
.highlight-overlay {
  position: absolute;
  height: 550px;
  width: 400px;
  background: #ccc;
  background: url('./img/item-blue.jpg');
  background-size: cover;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  left: -420px;
  top: -340px;
}


.divider {
  width:80%;
  height:1px;
  background:#ddd;
  margin-top:20px;
  margin-bottom:20px;
  margin-left:auto;
  margin-right:auto;
}

.purchase-info {
  -webkit-box-pack:justify;
  -webkit-justify-content:space-between;
      -ms-flex-pack:justify;
          justify-content:space-between;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
}
.price {
  font-size: 40px;
  font-size:2.5rem;
}

.button {
  background-color: rgb(53, 53, 53);
  color: #fff;
  font-weight: 700;
  border: none;
}
.button:hover {
  cursor: pointer;
  background-color: rgb(78, 78, 78);
}